@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f2f2f3;
  --background-hex: #16181c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #f2f2f3;
    --background-hex: #16181c;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
